<div role="tabpanel" class="tab-pane active" id="form">
  <form class="col-md-12 well" name="guestForm" ng-submit="form.submit(guest)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : guestForm.name.$invalid && !guestForm.name.$untouched }">
      <label>Guest Name*</label>
      <input type="text" name="name" class="form-control" ng-model="guest.name" ng-required="true">

      <p ng-show="guestForm.name.$invalid && !guestForm.name.$untouched" class="help-block">Your name is required.</p>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : guestForm.transitionDate.$invalid && !guestForm.transitionDate.$untouched }">
      <label>Transition Date*</label>
      <input type="text" class="form-control" uib-datepicker-popup ng-focus="guests.picker.opened = true"
             ng-click="guests.picker.opened = true" ng-model="guest.transitionDate" is-open="guests.picker.opened"
             ng-required="true" close-text="Close"/>

      <p ng-show="guestForm.transitionDate.$invalid && !guestForm.transitionDate.$untouched" class="help-block">The
        transition date is required.</p>
    </div>

    <div class="form-group">
      <label>Status*</label>

      <div class="radio">
        <label>
          <input type="radio" name="pickup-dropoff" id="pickup" value="pickup" ng-model="guest.status"
                 ng-required="!guest.status">
          Pick-up
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="pickup-dropoff" id="dropoff" ng-model="guest.status" value="dropoff"
                 ng-required="!guest.status">
          Drop-off
        </label>
      </div>
    </div>


    <div class="form-group" ng-show="guest.status == 'pickup'"
         ng-class="{ 'has-error' : guestForm.location.$invalid && !guestForm.location.$untouched }">
      <label>Location*</label>
      <textarea class="form-control" name="location" id="location" ng-model="guest.location"
                ng-required="guest.status == 'pickup'" msd-elastic></textarea>

      <p ng-show="guestForm.location.$invalid && !guestForm.location.$untouched" class="help-block">The location is
        required.</p>
    </div>

    <button type="submit" id="submit" class="btn" ng-disabled="guestForm.$invalid">Submit</button>
  </form>

  <!-- bound display -->
  <div class="col-md-12 well">
    <div class="form-group">
      <label>Name: </label>
      {{guest.name}}
    </div>
    <div class="form-group">
      <label>Transition Date: </label>
      {{guest.transitionDate | date:'longDate'}}
    </div>
    <div class="form-group">
      <label>Status: </label>
      {{guest.status | capitalize}}
    </div>
    <label ng-show="guest.status == 'pickup'">Location: </label>
    <span ng-bind-html="guest.location | nl2br"></span>
  </div>
</div>
