<div role="tabpanel" class="tab-pane active" id="form">
  <form class="col-md-12 well">
    <div class="form-group">
      <label for="guest-name">Guest Name</label>
      <input type="text" class="form-control" id="guest-name" ng-model="name" placeholder="">
    </div>
    <div class="form-group">
      <label for="transition-date">Transition Date</label>
      <input type="date" class="form-control" id="transition-date" ng-model="transitionDate" placeholder="">
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="pickup-dropoff" id="pickup" value="pickup" ng-model="status" checked>
        Pick-up
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="pickup-dropoff" id="dropoff" ng-model="status" value="dropoff">
        Drop-off
      </label>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <textarea class="form-control" id="location" ng-model="location"></textarea>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>

  <!-- bound display -->
  <div class="col-md-12 well">
    <div class="form-group">
      <label>Name: </label>
      {{name}}
    </div>
    <div class="form-group">
      <label>Transition Date: </label>
      {{transitionDate | date:'longDate'}}
    </div>
    <div class="form-group">
      <label>Status: </label>
      {{status | capitalize}}
    </div>
    <div class="form-group">
      <label>Location: </label>
      <span ng-bind-html="location | nl2br"></span>
    </div>
  </div>
</div>
