<div role="tabpanel" class="tab-pane" id="guests">
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:17%">Name</td>
      <td style="width:18%">Transition Date</td>
      <td style="width:15%">Status</td>
      <td style="width:30%">Location</td>
      <td style="width:20%">Edit</td>
    </tr>
    <tr ng-repeat="(key, guest) in guests.allGuests | filter: { deleted: false }">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="guest.name" e-name="name" e-form="rowform" e-required>
          {{ guest.name }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-bsdate="guest.transitionDate" e-uib-datepicker-popup="mm-dd-yyyy"
              e-ng-click="guests.picker.opened = true" e-init-date="false"
              e-is-open="guests.picker.opened" e-name="transitionDate" e-form="rowform">
          {{ guest.transitionDate | date:'longDate' }}
        </span>
      </td>
      <td>
        <!-- editable group (select-local) -->
        <span editable-select="guest.status" ng-if="guests.showStatus(guest.status, 'pickup')" e-name="status"
              e-form="rowform" e-ng-options="s.value as s.text for s in guests.pickupStatus">
          {{ guest.status | capitalize }}
        </span>
        <span editable-select="guest.status" ng-if="guests.showStatus(guest.status, 'dropoff')" e-name="status"
              e-form="rowform" e-ng-options="s.value as s.text for s in guests.dropoffStatus">
          {{ guest.status | capitalize }}
        </span>
        <span editable-select="guest.status" ng-if="guests.showStatus(guest.status, 'arrived')" e-name="status"
              e-form="rowform" e-ng-options="s.value as s.text for s in guests.arrivedStatus">
          {{ guest.status | capitalize }}
        </span>
      </td>
      <td>
        <!-- editable group (select-local) -->
        <span editable-textarea="guest.location" ng-bind-html="guest.location | nl2br" e-name="location"
              e-form="rowform"></span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="guests.editGuest(guest.id, $data)" ng-show="rowform.$visible"
              class="form-buttons form-inline" shown="inserted == guest">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="guests.removeGuest(guest.id)">del</button>
        </div>
      </td>
    </tr>
  </table>
</div>
